

h1 {text-align: center;
			font-family: Arial, sans-serif}
body {background-color: #FDF5E6;}
h1 {sans-serif;
			line-height: 1.5;
			color:#2F4F4F}
h2 {sans-serif;
			line-height: 1.5;
			color:#FF7F50}
tr {sans-serif;line-height: 1.5}
th {sans-serif;line-height: 1.5}
body {margin: 40px}
footer{text-align:center;}
table {border-collapse: collapse; width:100%; margin-bottom: 80px}
td, th {border: 1px solid #dddddd; text-align: left; padding:8px;}
		.container{margin-bottom: 40px;}
nav ul {list-style: none;
			display: inline-blocks}

nav li {display: inline-block;
			margin-right: 20px;}
div {text-align: center}
p {line-height: 1.5}